.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  display: block;
  min-width: 600px;
  height: 100%;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px 1px rgba(138, 156, 171, 0.25);
}