.root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}

.homeNav {
  color: black;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
}